* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  transition: 1s ease-in;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-header-container {
  width: 90%;
  text-align: center;
}

.add-note-container {
  text-align: left;
  display: inline-block;
  position: relative;
}

.add-note-container input[name="createNote"] {
  border: none;
  font-size: 1.25em;
  width: 95%;
}

.add-note-container input:focus, textarea:focus {
  outline: none;
}

.add-note-container textarea {
  border: none;
  width: 95%;
  margin-top: 5px;
  resize: none;
  overflow: hidden;
}

.add-note-container h1, p, i {
  color: grey;
}

.add-note-container button {
  position: absolute;
  right: 25px;
  bottom: -1px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.note-container {
  margin: 1% auto;
}

.note .icons{
  font-size: 15px;
  text-align: right;
}

.icons button {
  border: none;
  background-color: white;
  padding: 10px;
}

.icons i:hover {
  color: black;
  transition: .25s ease;
}

.icons button:active , button:focus, button:visited {
  outline: none !important;
  border: none !important;        
  text-decoration: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}
