* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(8, 4, 4);
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-header-container {
  width: 90%;
  text-align: center;
}

.add-note-container {
  text-align: left;
  display: inline-block;
  position: relative;
}

.add-note-container input[name="createNote"] {
  border: none;
  font-size: 1.25em;
  width: 95%;
}

.add-note-container input:focus, textarea:focus {
  outline: none;
}

.add-note-container textarea {
  border: none;
  width: 95%;
  margin-top: 5px;
  resize: none;
  overflow: hidden;
}

.add-note-container h1, p, i {
  color: grey;
}

.add-note-container button {
  color: white;
  font-size: 1.5em;
  position: absolute;
  left: 75%;
  top: 75%;
  /* display: inline; */
  text-align: center;
  border: none;
  padding: 1px;
  width: 35px;
  border-radius: 90px;
  background-color: #f5ba13;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.note-container {
  margin: 1% auto;
}

.note .icons{
  font-size: 15px;
  text-align: right;
}

.note .icons i {
  color: dimgray;
  padding: 10px;
}